services:
  broker:
    image: docker.io/library/redis:8
    restart: unless-stopped
    volumes:
      - redisdata:/data
  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    container_name: paperless-webserver
    restart: unless-stopped
    ports:
      - "8765:8000"
    volumes:
      - ./data/docker/data:/usr/src/paperless/data
      - ./data/docker/media:/usr/src/paperless/media
      - ./data/docker/consume:/usr/src/paperless/consume
      - ./data/docker/export:/usr/src/paperless/export
    environment:
      PAPERLESS_TIME_ZONE: Asia/Tokyo
      PAPERLESS_OCR_LANGUAGE: jpn+eng
      PAPERLESS_OCR_LANGUAGES: jpn eng
      PAPERLESS_REDIS: redis://broker:6379
volumes:
  redisdata:

